{{ define "main" }}
<div class="post">

  <article class="post-content">
    <section>
      {{- .Content -}}
    </section>
    <section>
      <!--
      {{ range .Paginator.Pages }}
        {{- partial "summary.html" . -}}
      {{ end }}
      -->
      <ul>
        {{ range .Pages.GroupByDate "January 2006" "desc" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>

</div>

{{ end }}
