<footer class="site-footer">
  <div class="wrapper">
    <a href="https://mastodon.social/@loomhigh">
      <i class="fa-brands fa-mastadon"></i>
      <span class="username">PLUG Meetup</span>
    </a>
    |
    <a href="https://www.youtube.com/@loomhigh">
      <i class="fa-brands fa-youtube"></i>
      <span class="username">loomhigh</span>
    </a>
    <!-- Hide Twitter link to https://twitter.com/plugorgau
    |
        <a href="https://twitter.com/{{ .Site.Params.twitter_username }}">
      <i class="fab fa-twitter"></i>
      <span class="username">{{ .Site.Params.twitter_username }}</span>
    </a>
    -->
    |
    Source: <a href="https://github.com/{{ .Site.Params.github_username }}">
      <i class="fab fa-github"></i>
      <span class="username">{{ .Site.Params.github_username }}</span>
    </a>
  </div>
</footer>
